# Data Science Tools and Ecosystem
## Author
Gabriele Broggini

Objectives:
* list data science languages
* list data science libraries
* list cell with a table of Data Science tools
* arithmetic expression examples

1. Python
2. Scala
3. R

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. plottly
4. matplotlib


| Data Science Tools | 
|---|
| Jupyter Notebook | 
| RStudio | 
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [20]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [21]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335